body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:lemonchiffon;
}

.main-logo {
  display: block;
  width: 240px;
  margin: 3em auto;
}

.front-page {
  font-weight: 300;
  letter-spacing: 0.3px;
  display: flex;
  justify-content: space-evenly;
}
h1 {
  font-size: x-large;
}
#start-button {
  width: 200px;
  height: 3rem;
  border-radius: 5%;
  font-weight:900;
  border-color:darkviolet;
}
.quiz-page {
  display: grid;
  justify-content: center;
  /* grid-template-rows: 0.5fr 0.1fr 1fr 2fr; */
  grid-template-columns: 70%;
  display: none;
}
.sample-code{
  justify-self: center;
  padding: 15px;
  font-weight: bolder;
  font-size: 1em;
  font-family:Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
}
.quiz-title{
  padding: 30px;
  justify-self:center;
  font-weight: bolder;
  font-size: x-large;
}
.quiz-status {
  border-top: 3px solid black;
  justify-content: space-evenly;
  display: flex;
  padding: 30px;
  font-weight: bolder;
}
.quiz-choice {
  border-collapse: separate;
  border-spacing: 20px 20px;
  text-align:center;
  font-weight: bolder;
}
.index.index1{
  background-color:orange;
}
.index.index2 {
  background-color:lightgray;
}
.next-quiz {
  justify-self: center;
  width: 300px;
  background-color:tan;
  border: 1px solid darksalmon;
  font-weight: bolder;
  border-radius: 3em;
  text-align: center;
  display:none;  
}
.next-quiz:hover{
  color:skyblue;
  background-color:olive;
}
.restart-button {
  justify-self: center;
  width: 300px;
  background-color:gold;
  border: 1px solid darksalmon;
  font-weight: bolder;
  border-radius: 3em;
  text-align: center;
  display:none;  
}
.restart-button:hover{
  color:limegreen;
  background-color:olive;
}
